*{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-image: url(../Imagens/designer.jpeg);
    color: white;
}
.logo{
    width: 100px;
}
.barra-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
nav ul{
    display: flex;
    gap: 50px;

}
nav ul li{
    list-style: none; 
    
}
nav ul li a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}

nav ul li a:hover {
    font-size: 1.2rem;
    font-weight: bold   ;
}
.wrapper{
    margin: 0 auto;
    max-width: 1000px;
    

}
.identidade{
    font-size: 1.3em;
    text-align: center;
    background-color: rgb(35, 42, 49);
    background-image: url(../imagens/music.gif);
    padding: 100px 0;
    color: rgb(235, 219, 219);

   
}
.elemento{
    background-color: white;
    color: black;
    padding: 50px;
    border: 2px solid blue;
}
.aulas{
    display: flex;
    background: rgb(231, 233, 238);
    color: white;
    padding: 5px 0;
    text-align: center;
    height: 140px;
}
.aulas ul{
    display: flex;
    

}
.aulas ul li{
    display: flex;
    list-style: none;
    background-color: rgb(72, 79, 92);
    height: 100px;
    width: 100px;
    margin: 10px;
    text-align: center;
    align-items: center;
    border-radius: 20px;
    border: 3px double rgb(8, 8, 117);
    cursor: pointer;

}
.aulas ul li:hover{
    width: 105px;
    height: 105px;
    
}
.comentarios{
    color: white;
}
h3{
    text-align: center;
    padding: 20PX;
}
.comentarios_lista ul{
    display: flex;
}
 .comentarios_lista ul li{
    display: flex;
    padding: 10px;
    border-radius: 10px;
    list-style: none;
    height: 200px;
    border: 2px solid red;
    width: 1000px;
    text-align: center;
    align-items: center;
    height: 200px;
    

}
strong{
    padding-right: 50px;
}
.footer{
    display: flex;
    justify-content: space-between;
    

}
footer{
    background: rgb(2, 30, 83);
}
.footer ul{
    display: flex;
    gap: 10px;
}
.footer ul li{
    list-style: none;
    margin: 10px 0;

}
.footer ul li a{
    color: rgb(212, 219, 221);
}
.mine-mapa:hover{
    position: fixed;
    width: 600px;
    height: 600px;
    bottom: 0;
    left: 0;
    border-radius: 20px;
   
}
.mine-mapa{
    width: 20px;
    height: 20px;
    
}
.elemento{
    scale: 0.1;
}
h2{
    padding: 50px;
}
/* carrossel */
.swiper{
    width: 80%;
    height: 300px;
    margin: auto;
}
.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    color: white;
    border-radius: 10px;
    padding: 100px;
   
    

}
.carrossel{
    background-color: rgb(46, 46, 53);

}
.drop{
    position: fixed;
    background-color: white;
    color: black;
    text-align: center;
    padding: 8px;
    border: 2px solid black;
    border-radius: 7px;
    display: none;
}
.esconder{
   display: block;
}
.drop p a{
    color: black;
}