*{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    box-sizing: border-box;
}

header{
    background: #1A1A1A;
    color: white;
}
.logo{
    width: 100px;
}
.barra-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
nav ul{
    display: flex;
    gap: 50px;

}
nav ul li{
    list-style: none; 
}
nav ul li a{
    text-decoration: none;
    color: white;
}
.wrapper{
    margin: 0 auto;
    max-width: 1000px;
    

}
.identidade{
    font-size: 1.3em;
    text-align: center;
    background-color: rgb(5, 59, 55);
    padding: 100px 0;
    color: white;
}
.aulas{
    background: rgb(2, 30, 83);
    color: white;
    padding: 50px 0;
}
.aulas ul{
    display: flex;

}
.aulas ul li{
    list-style: none;
}
.comentarios{
    background-color: rgb(5, 59, 55);
    color: white;
}
.comentarios_lista ul{
    display: flex;
   
  
    
}
.comentarios_lista ul li{
    display: flex;
    gap: 50px;
    padding: 50px;
    border: 2px solid black;
    align-items: center;
    text-align: center;
    height: 250px;
    width: 1000px;
    
    
    
    
}